*{
    margin: 0; /* الكلام بيبقى وخد حاشية افتراضية فبشيلها */
    padding: 0; /* الكلام بيبقى وخد حاشية افتراضية فبشيلها */
}
body{
    background-color: rgb(39, 39, 39); /* لون الخلفية*/
    color: rgb(255, 255, 255); /*لون الخط*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.crud{
    width: 80%; /* هخلي كلاس الكرد اللي هو شايل المشروع كله ياخد 80 في المية من حجم الشاشة*/
    margin: auto; /*في النص*/
}
.head{
    text-align: center; /*عايز خط الراس في النص*/
    text-transform: uppercase;
    margin: 10px 0; /* حشو من فوق وتحت 10 بكسل ومن اليمين والشمال صفر*/
}